.hometext {
    font-family: 'Baskerville Light';
    font-size: 1.0625rem;
    max-width: 45%;
    text-align: center;
    color: #fff;
}

.homecontent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.625rem;
}

@media (max-width: 1000px) {
  .hometext {
    max-width: 70%;
  }
}