.footertext {
    font-family: 'Baskerville Light';
    font-size: 0.95rem;
    max-width: 70%;
    text-align: center;
    color: #fff;
}

.def {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
  .footertext {
    max-width: 85%;
  }
}